# نادیده گرفتن فایل‌های سیستمی
.DS_Store
Thumbs.db

# نادیده گرفتن پوشه لاگ
logs/
*.log

# نادیده گرفتن فایل‌های مربوط به محیط مجازی پایتون
venv/

# نادیده گرفتن فایل‌های باینری
*.exe
*.dll

# نادیده گرفتن فایل‌های حساس
.env
